<!DOCTYPE html>
<html lang="en" ng-app="posterApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Horror Movies</title>   
    <link type="text/css" rel="stylesheet" href="static/style.css" >
    <link href='https://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Strait' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Exo+2:400,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200' rel='stylesheet' type='text/css'>
    
  </head>
  <body >
  <div ng-controller="TitleController as TitleCntrl" id="QuestionContainer" >
    
      <h3 class="query" ng-click="TitleCntrl.getMovie()">What movie should I watch?</h3> 
  
    <div  id="ContentContainer" ng-model="TitleCntrl" ng-show="show" >
      <div class="directorInfo">
        <p id="director-main">{{TitleCntrl.movie.Director}}</p>
        <p id="director-predicate" >PRESENTS</p>
        <p id="mainactor">{{TitleCntrl.getMainActor(TitleCntrl.movie.Actors)}} </p>
        <p id="mainactor-conjuction">IN</p>
          <p id="title">{{TitleCntrl.movie.Title}}</p>
      </div>
      

      <div class="middle-box">
        <div class="box-left">
          <p id="summary">{{TitleCntrl.summary(TitleCntrl.movie.Plot)}} </p>
        </div>
        <div class="image-box">
          
        </div>
        <div class="box-right">
          <div id="box-right-top">
            <p id="rating">{{TitleCntrl.movie.Rated}}</p>
          </div>
          <div id="box-right-bottom">
            <p id="score">{{TitleCntrl.imdbRating(TitleCntrl.movie.imdbRating)}} </p>  
          </div>
        </div>
        
      </div>
      
      <div class="bottom-box">
        <p id="stars-font">Co-starring</p><p id="stars">{{TitleCntrl.movie.Actors}} </p>  
        <p id="writer-font"> * Written by</p><p id="writer">{{TitleCntrl.movie.Writer}}</p>  
        <p id="released-font"> * Release date</p><p id="released">{{TitleCntrl.movie.Released}}</p>  
      </div>

    </div>    
  </div>

    <!--Libraries-->
    <script src="bower_components/angular/angular.min.js"></script>
    
    <!--My own JS files-->
    <script type="text/javascript" src="js/helper.js"></script>
    <script type="text/javascript" src="js/movie_helper.js"></script>
    <script type="text/javascript" src="js/title_controller.js"></script>
    <!--script type="text/javascript" src="js/_processnames.js"></script-->

  </body>
</html>