<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Bowlby+One+SC&family=Titan+One&display=swap&family=Maiden+Orange&display=swap&family=Teko:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&family=Squada+One&family=Big+Shoulders+Display:wght@300&display=swap&family=Pompiere&display=swap&family=Poiret+One&display=swap" rel="stylesheet">
    <link href="./css/app.css" rel="stylesheet">
    <title>Horror Poster</title>
</head>
<body>
<div id="root"></div>
</body>
</html>