p{
	margin: 0;
}
#ContentContainer{
	width: 750px;
    height: 860px;
	position: absolute;
	top:100px;
	left:30%;
	background-color: gold;
/*	background: url(images/lady.jpg);*/
	border:solid 10px whitesmoke;
}

#QuestionContainer{
	width:400px;
	height:200px;
	position: absolute;
	top:10px;
	left:30%;
	
}

#QuestionContainer h3{
font-family: 'Francois One', sans-serif;
    font-size: 20px;
    text-align: center;
    color: darkorange;
 }

.middle-box{
	position: absolute;
    width: 90%;
    float: left;
    top: 220px;
    left: 50px;
}


.box-left{
	position: relative;
	left:0;
	width:200px;
	float:left;

}

.box-right{
    position: absolute;
    right: 10px;
    /* float: right; */
    height: 45px;
    /* width: 45px; */
    /* background: yellow; */
    -moz-border-radius: 20px;
    /* -webkit-border-radius: 20px; */
    /* border-radius: 25px; */
    /*background-color: crimson;*/
    /* margin-left: 25%; */

}


.bottom-box{
	position: absolute;
	float: right;
	width:100%;
	margin-top: 130px;
	bottom: 10px;
    background-color: antiquewhite;
        padding-top: 10px;
    padding-bottom: 20px;
}

#box-right-top{
	background-color: crimson;
}

#box-right-bottom{
	position: absolute;
	
	margin-top: 5px;
}

#country{
	    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    color: crimson;
}

#title{
    /* margin-top: 2px; */
    font-size: 40px;
    font-family: 'Exo 2', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    /* background-color: plum; */
    /* width: 200px; */
    padding-bottom: 10px;
    padding-right: 5px;
    
    text-transform: uppercase;
}


#summary{
	font-family: 'Merriweather', serif;
    font-size: 15px;
    font-style: italic;
    color: black;
    margin-left: 10px;
    line-height: 30px;

}


#score{
	font-size: 15px;
	font-family: AndaleMono, monospace;
	font-weight: bold;
	color: antiquewhite;
		position: relative;
	right:0px;
	margin-left: 10px;
    margin-top: 15px;
    padding:20px;
}

#stars, #writer, #released{
    font-size: 20px;
    font-family: 'Strait', sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 20px;
    color: firebrick;
}

#director-main, #director-predicate{
	font-size: 15px;
	/*font-family: 'PT Sans Narrow', sans-serif;*/
	
}

#director-predicate{
	font-size: 8px;
	
}

.directorInfo{
 /*   position: absolute;*/
 	margin-top: 10px;
 	padding-top:20px;
    left: 20%;
    top: 20px;
    /*width: 200px;*/
    
}

.directorInfo p{
	text-align: center;
}

.actorInfo{
	position: absolute;
	left:20px;
	top:100px;
	width:100px;
	color: #f9f9f9;
}

#mainactor, #mainactor-conjuction{
	font-size: 20px;
    font-family: CenturyGothic, AppleGothic, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    
}

#mainactor{ 
	font-weight: 700;
	font-size: 35px;
    padding-bottom: 5px;

}

#mainactor-conjuction{ 
	font-weight: normal;
	font-size: 10px;

}

#title, #summary, #director-main, #director-predicate, #mainactor, #mainactor-conjuction {
	color: crimson;
} 

#stars-font, #writer-font, #released-font{
font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    /* font-weight: 700; */
    text-align: center;
    line-height: 20px;
    color: indianred;
    line-height: 40px;
}

#rating{
    font-family: fantasy;
    font-size: 40px;
    font-weight: 900;
    color: red;
    position: relative;
    left: 30px;
}
